services:
  # The final destination
  target-server:
    build:
      dockerfile: deployments/server.Dockerfile
    container_name: target-server.com
    environment:
      - PYTHONUNBUFFERED=1
    networks:
      - minitor-net

  # The intermediate proxy node
  proxy-node:
    build:
      dockerfile: deployments/node.Dockerfile
    container_name: proxy-node.local
    environment:
      - PYTHONUNBUFFERED=1
    volumes:
      - ./certs:/app/certs
    networks:
      - minitor-net

  # The user/client application
  demo-client:
    build:
      dockerfile: deployments/demo.Dockerfile
    container_name: demo-client
    environment:
      - PYTHONUNBUFFERED=1
    volumes:
      - ./certs:/app/certs
    depends_on:
      - proxy-node
    networks:
      - minitor-net

networks:
  minitor-net:
    driver: bridge